.app-header{
    // height: 50px;
    background-color: #c7ffe8;
    .app-header-container{
        justify-content: flex-end;
    
    
        .header-link-btns{
            font-size: rem(20px);
            color: #ffffff;
            gap: 15px;
            padding: 10px;
            font-weight: bold;
            text-shadow: -2px 1px 5px black;
        }
    }
    
    }